@{
    ViewData["Title"] = "Edit grade";
}

@model Grade

<form asp-action="Edit" asp-controller="Grades" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label>Teacher</label>
        <select class="form-control disabled" name="teacherId">
            <option value="@Model.TeacherId">@Model.Teacher.FirstName @Model.Teacher.LastName</option>
        </select>
    </div>
    <div class="form-group">
        <label>Subject</label>
        <select class="form-control" name="subjectId">
            <option disabled="disabled">Current subject</option>
            <option selected="selected" value="@Model.SubjectId">@Model.Subject.SubjectName</option>
            <option disabled="disabled">Select subject</option>
            @foreach (TeachersSubject s in Model.Teacher.TeachersSubjects)
            {
                <option value="@s.SubjectId">@s.Subject.SubjectName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Class</label>
        <select class="form-control" id="classId">
            <option disabled="disabled">Current class</option>
            <option selected="selected" value="@Model.Student.ClassId">@Model.Student.Class.ClassName</option>
            <option disabled="disabled">Select class</option>
            @foreach (ClassesTeacher s in Model.Teacher.ClassesTeachers)
            {
                <option value="@s.ClassId">@s.Class.ClassName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Student</label>
        <select id="studentId" name="studentId" class="form-control" required>
            <option disabled="disabled">Current student</option>
            <option selected="selected" value="@Model.StudentId">@Model.Student.FirstName @Model.Student.LastName</option>
            <option disabled="disabled">Select new class to populate student list</option>
        </select>
    </div>
    <div class="form-group">
        <label>Grade</label>
        <input type="number" class="form-control" name="value" value="@Model.Value" />
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" value="@Model.DateAdded.Date.ToString("yyyy-MM-dd")" name="dateAdded" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input name="description" value="@Model.Description" class="form-control" type="text" />
    </div>
    <input type="submit" value="Go" class="btn btn-primary" />
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $("#classId").on("change",
            function() {
                $("#studentId").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetStudentsDropdown")',

                    dataType: 'json',

                    data: { classId: $("#classId").val() },

                    success: function (data) {
                        $.each(data.students,
                            function(i, st) {
                                $("#studentId").append('<option value="'+ st.value + '">' + st.text + '</option>');
                            });
                    }
                });
                return false;
            });
    });
</script>