@model List<Grade>

@if (Model.Count < 1)
{
    ViewData["Title"] = "No grades";
    <h1>Student has no grades!</h1>
}
else
{
    ViewData["Title"] = $"{Model.First().Student.FirstName}'s grades";
    <h1>Grades for: @Model.First().Student.FirstName</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Grade</th>
                <th>Date</th>
                <th>Teacher</th>
                <th>Description</th>
                @if (!User.HasClaim("Role", "Student"))
                {
                    <th></th>
                }
            </tr>
        </thead>
        @foreach (Grade g in Model)
        {
            <tr>
                <td>@g.Subject.SubjectName</td>
                <td>@g.Value</td>
                <td>@g.DateAdded.ToShortDateString()</td>
                <td>@g.Teacher.FirstName @g.Teacher.LastName</td>
                <td>@g.Description</td>
                @if (User.HasClaim("Role", "Admin") || !User.HasClaim("Role", "Student") && g.TeacherId == int.Parse(User.Claims.Single(c => c.Type == "EntityID").Value))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Grades", new { gradeId = g.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", "Grades", new { gradeId = g.Id }, new { @class = "btn btn-danger" })
                    </td>
                }
            </tr>
        }
    </table>
}