@model ClassDTO

@{
    ViewData["Title"] = "Class details - " + Model.ClassName;
}

<h1>Class details: @Model.ClassName</h1>
<br />

<p>
    <b>Main teacher:</b>
    @{
        TeacherDTO mainTeacher = (ViewBag.TeacherList as ICollection<TeacherDTO>).FirstOrDefault(t => t.Id == Model.MainTeacherId);
        <b>@Html.ActionLink($"{mainTeacher.FirstName} {mainTeacher.LastName}", "TeacherDetails", "Directory", new { id = Model.MainTeacherId })</b>
    }
</p>

<div>
    <b>Students:</b>

    @foreach (StudentDTO s in (ViewBag.StudentList as ICollection<StudentDTO>).Where(s => s.ClassId == Model.Id))
    {
        <p>
            @Html.ActionLink($"{s.FirstName} {s.LastName}", "StudentDetails", "Directory", new { id = s.Id })
        </p>
    }
</div>

<div>
    <b>Teachers:</b>

    @foreach (TeacherDTO t in (ViewBag.TeacherList as ICollection<TeacherDTO>).Where(t => t.ClassIds.Contains(Model.Id)))
    {
        <p>
            @Html.ActionLink($"{t.FirstName} {t.LastName}", "TeacherDetails", "Directory", new { id = t.Id }) - @string.Join(", ", (ViewBag.SubjectList as ICollection<SubjectDTO>).Where(s => t.SubjectIds.Contains(s.Id)).Select(s => s.SubjectName))
        </p>
    }
</div>
<input type="button" onclick="history.go(-1)" value="Back" class="btn btn-secondary" />
