@{
    ViewData["Title"] = "Teacher Directory";
}

@model List<TeacherDTO>

<h1>Teacher Directory</h1>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Subjects</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TeacherDTO t in Model)
        {
            <tr>
                <td>@t.FirstName</td>
                <td>@t.MiddleName</td>
                <td>@t.LastName</td>
                <td>@string.Join(", ", (ViewBag.SubjectList as ICollection<SubjectDTO>).Where(s => t.SubjectIds.Contains(s.Id)).Select(s => s.SubjectName))</td>
                <td>
                    @Html.ActionLink("Go", "TeacherDetails", "Directory", new { id = t.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="button" onclick="history.go(-1)" value="Back" class="btn btn-secondary" />