@{
    ViewData["Title"] = "Student Directory";
}

@model List<StudentDTO>

<h1>Student Directory</h1>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Class</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StudentDTO s in Model)
        {
            <tr>
                <td>@s.FirstName</td>
                <td>@s.MiddleName</td>
                <td>@s.LastName</td>
                <td>
                    @Html.ActionLink((ViewBag.ClassList as ICollection<Class>).FirstOrDefault(c => c.Id == s.ClassId).ClassName, "ClassDetails", "Directory", new { id = s.ClassId })
                </td>
                <td>
                    @Html.ActionLink("Go", "StudentDetails", "Directory", new { id = s.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="button" onclick="history.go(-1)" value="Back" class="btn btn-secondary" />