@{
    ViewData["Title"] = "Admin Tools";
}

<h1>Admin Tools</h1>
<div>
    <h2>Add people:</h2>
    @Html.ActionLink("New teacher", "AddTeacher", "Admin", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("New student", "AddStudent", "Admin", null, new { @class = "btn btn-primary" })
</div>
<br />
@Html.ActionLink("List user accounts", "ListUsers", "Admin", null, new { @class = "btn btn-primary" })
<br />
<p>To manage existing users, please use the @(Html.ActionLink("Directory", "Index", "Directory")).</p>
<div>
    <h2>Manage subjects and classes:</h2>
    @Html.ActionLink("Manage subjects", "ManageSubjects", "Admin", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Manage classes", "ManageClasses", "Admin", null, new { @class = "btn btn-primary" })
</div>