@{
    ViewData["Title"] = "User List";
}
@using Microsoft.AspNetCore.Identity
@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@inject UserManager<IdentityUser> UserManager

<h1>User List</h1>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Entity</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Email</td>
                <td>@UserManager.GetClaimsAsync(u).Result.FirstOrDefault(c => c.Type == "Role")?.Value</td>
                <td>@UserManager.GetClaimsAsync(u).Result.FirstOrDefault(c => c.Type == "EntityID")?.Value</td>
                <td>@Html.ActionLink("Edit claims", "EditClaims", "Admin", new { id = u.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>